.breadcrumb {
  width: $cont-width;
  margin: $space-2 0;
  color: $color-gray-medium;

  ul {
    display: flex;
    align-self: center;

    li {
      padding: 0 10px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        font-weight: 700;
      }

      a {
        font-size: $font-size-6;
        color: $color-gray-medium;
      }
    }
  }
}
