// Search Input
@mixin input {
  padding: 0 $space-2;
  width: 100%;
  height: $input-y;
  font-size: 18px;
  border: none;
  border-radius: $border-r 0 0 $border-r;
  outline: none;
}

// Buttons
@mixin input-btn($bg-color) {
  height: $input-y;
  width: 42px;
  background-color: $bg-color;
  border: none;
  border-radius: 0 $border-r $border-r 0;
  cursor: pointer;
  outline: none;
}
@mixin btn($bg-color, $text-color) {
  height: $input-y;
  width: $input-x;
  color: $text-color;
  background-color: $bg-color;
  border: none;
  border-radius: $border-r;
  cursor: pointer;
  outline: none;
}

// Container
@mixin container {
  padding: $space-1;
  width: calc(#{$cont-width} - #{$space-1} * 2);
  min-height: 80vh;
  background-color: $color-white;
  border-radius: $border-r;
  box-shadow: $box-shadow-cont;
}
