// Colors
$color-yellow: #ffe600;
$color-black: #333;
$color-gray-dark: #666;
$color-gray-medium: #999;
$color-gray-light: #eee;
$color-white: #fff;
$color-blue: #3483fa;

// Spaces
$space-1: 32px;
$space-2: 16px;

// Font Size
$font-size-1: 46px;
$font-size-2: 28px;
$font-size-3: 24px;
$font-size-4: 18px;
$font-size-5: 16px;
$font-size-6: 14px;
$font-size-7: 12px;

// Border Radius
$border-r: 4px;

// Img Size
$side-1: 680px;
$side-2: 180px;
