@import './variables';
// // Variables
// // Color
// $color-yellow: #ffe600;
// $color-black: #333;
// $color-gray-dark: #666;
// $color-gray-medium: #999;
// $color-gray-light: #eee;
// $color-white: #fff;
// $color-blue: #3483fa;

// Global Styles
* {
  margin: 0;
  padding: 0;
}

body {
  color: $color-black;
  background-color: $color-gray-light;
}

ul, li, ol {
  list-style: none;
}
